01_survey_tool/01_survey_tool/調査データチェック・GIS変換アシスタント_ver2.5.yml
app:
  description: '測量データ入力・整理の効率化のために、入力データのエラーの自動抽出、GISデータへの自動変換を行うためのアプリです。

    変更点は以下のとおりです。

    - FastAPI実施には、ngork→Renderへ変更'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 調査データチェック・GIS変換アシスタント_ver2.5
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1780355579484-source-1780371392037-target
      selected: false
      source: '1780355579484'
      sourceHandle: source
      target: '1780371392037'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780371392037-source-1780356676554-target
      selected: false
      source: '1780371392037'
      sourceHandle: source
      target: '1780356676554'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1780096256163-source-1780355579484-target
      selected: false
      source: '1780096256163'
      sourceHandle: source
      target: '1780355579484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1780356676554-true-1780442563959-target
      selected: false
      source: '1780356676554'
      sourceHandle: 'true'
      target: '1780442563959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780442563959-source-1780442733681-target
      selected: false
      source: '1780442563959'
      sourceHandle: source
      target: '1780442733681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1780442733681-source-1780411223891-target
      selected: false
      source: '1780442733681'
      sourceHandle: source
      target: '1780411223891'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1780442733681-source-1780442810188-target
      source: '1780442733681'
      sourceHandle: source
      target: '1780442810188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1780411223891-source-1780457989767-target
      source: '1780411223891'
      sourceHandle: source
      target: '1780457989767'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1780489017890-source-1780372585058-target
      selected: false
      source: '1780489017890'
      sourceHandle: source
      target: '1780372585058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1780442810188-source-1780489017890-target
      selected: false
      source: '1780442810188'
      sourceHandle: source
      target: '1780489017890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1780356676554-false-1780489102239-target
      selected: false
      source: '1780356676554'
      sourceHandle: 'false'
      target: '1780489102239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1780489102239-source-1780391752679-target
      selected: false
      source: '1780489102239'
      sourceHandle: source
      target: '1780391752679'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 現地調査結果のファイルをアップロードもしくはURLを入力します。
        selected: false
        title: 1.開始(現地調査結果入力)
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hide: false
          hint: ''
          label: 現地調査結果
          max_length: 5
          options: []
          placeholder: ''
          required: true
          type: file-list
          variable: survey_file
      height: 153
      id: '1780096256163'
      position:
        x: -626.0407973915869
        y: -317.17913192007734
      positionAbsolute:
        x: -626.0407973915869
        y: -317.17913192007734
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1780096256163'
            - survey_file
            id: key-value-333
            key: survey_file
            type: file
            value: '{{#1780096256163.survey_file#}}'
          type: form-data
        desc: RenderによるFastAPI呼び出しを行い、main_v2.pyの「analyze」処理を実行します。具体的には、エラー判別のファイルを元に現地調査結果をチェックしエラーがないか検査・抽出します。
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 60
          write: 60
        title: 2.HTTPリクエスト(analyze実行)
        type: http-request
        url: https://forest-survey-api.onrender.com/analyze
        variables: []
      height: 229
      id: '1780355579484'
      position:
        x: -186.8752003919538
        y: -320.31137219519223
      positionAbsolute:
        x: -186.8752003919538
        y: -320.31137219519223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ae582c2a-c898-4c1d-887c-d6e532c2a4ce
            value: true
            varType: boolean
            variable_selector:
            - '1780371392037'
            - has_error
          id: 'true'
          logical_operator: and
        desc: has_errorの内容に応じて、error_log出力処理もしくはGIS用フォーマット出力処理を行います。
        selected: false
        title: 4.条件分岐(error・gis出力)
        type: if-else
      height: 208
      id: '1780356676554'
      position:
        x: 523.5277593865139
        y: -244.0540857136105
      positionAbsolute:
        x: 523.5277593865139
        y: -244.0540857136105
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    data = json.loads(body)\n\
          \    has_error = data[\"has_error\"]\n    survey_text_for_llm = data.get(\"\
          survey_text_for_llm\", \"\")\n\n    # error_log を Markdown 表形式に変換\n    error_log_md\
          \ = \"\"\n    if has_error and data[\"error_log\"]: \n        headers =\
          \ [\n            \"sheet_name\", \"row_no\", \"rule_id\", \"category\",\n\
          \            \"item_name\", \"check_item\", \"severity\",\n            \"\
          error_message\", \"fix_action\"\n        ]\n        error_log_md = \"| \"\
          \ + \" | \".join(headers) + \" |\\n\"\n        error_log_md += \"| \" +\
          \ \" | \".join([\"---\"] * len(headers)) + \" |\\n\"\n        for row in\
          \ data[\"error_log\"]:  \n            values = [str(row.get(h, \"\")) for\
          \ h in headers]\n            error_log_md += \"| \" + \" | \".join(values)\
          \ + \" |\\n\"\n\n    # gis_summary を Markdown 表形式に変換\n    gis_summary_md\
          \ = \"\"\n    if not has_error and data[\"gis_summary\"]: \n        headers\
          \ = [\n            \"調査ID\", \"シート名\", \"地域名\", \"調査日時\", \"天気\",\n    \
          \        \"記帳者\", \"対象樹種\", \"面積(㎡)\", \"斜面位置\", \"斜面方位\",\n           \
          \ \"傾斜度\", \"緯度\", \"経度\",\n            \"平均樹高(m)\", \"平均枝下高(m)\", \"平均胸高直径(cm)\"\
          , \"立木本数\"\n        ]\n        gis_summary_md = \"| \" + \" | \".join(headers)\
          \ + \" |\\n\"\n        gis_summary_md += \"| \" + \" | \".join([\"---\"\
          ] * len(headers)) + \" |\\n\"\n        for row in data[\"gis_summary\"]:\
          \ \n            values = [str(row.get(h, \"\")) for h in headers]\n    \
          \        gis_summary_md += \"| \" + \" | \".join(values) + \" |\\n\"\n\n\
          \    return {\n        \"has_error\": has_error,\n        \"status\": \"\
          error\" if has_error else \"success\",\n        \"error_count\": data[\"\
          error_count\"],\n        \"error_log_md\": error_log_md,\n        \"gis_summary_md\"\
          : gis_summary_md,\n        \"survey_text_for_llm\": survey_text_for_llm,\n\
          \    }"
        code_language: python3
        desc: json形式のデータをMarkdown形式へ変換します。
        outputs:
          error_count:
            children: null
            type: number
          error_log_md:
            children: null
            type: string
          gis_summary_md:
            children: null
            type: string
          has_error:
            children: null
            type: boolean
          status:
            children: null
            type: string
          survey_text_for_llm:
            children: null
            type: string
        selected: false
        title: 3.コード実行(Markdownへの変換)
        type: code
        variables:
        - value_selector:
          - '1780355579484'
          - body
          value_type: string
          variable: body
      height: 96
      id: '1780371392037'
      position:
        x: 171.9910332181219
        y: -309.52074595371886
      positionAbsolute:
        x: 171.9910332181219
        y: -309.52074595371886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780489017890'
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 5-3-3.出力(error.log)
        type: end
      height: 88
      id: '1780372585058'
      position:
        x: 2763.1735607709743
        y: -229.32641777884695
      positionAbsolute:
        x: 2763.1735607709743
        y: -229.32641777884695
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780489102239'
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 6-2.出力(GIS用CSV出力)
        type: end
      height: 88
      id: '1780391752679'
      position:
        x: 2895.315752498744
        y: 642.7689292893167
      positionAbsolute:
        x: 2895.315752498744
        y: 642.7689292893167
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1780442733681'
          - combined_error_md
        desc: エラーの修正方法について指示を出力します。
        model:
          completion_params: {}
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: e6828d4e-0fc2-4db8-a6ab-740f3c1d5d50
          role: system
          text: '## 処理内容

            既存のエラーと、追加エラー候補についてのSlack投稿文を作成する。

            また、既存のエラーについては、修正方法について説明する。


            ### 目的

            エラーを効率良く特定し、業務効率化を図る。


            ### 役割

            森林調査の熟練技術者


            ### 依頼者

            - 森林調査の経験が全くない人

            - 専門学校や大学等で、林学を専攻していない人

            - 現地調査結果入力の作業をただ頼まれ、入力用のファイルの計算式やマクロ等の構造を知らない人


            ### 命令

            エラー内容を確認し、経験のない人でも理解できるよう具体的でわかりやすい修正方法を指示してください。'
        - id: 6e726fd5-44c3-433b-840a-872c64ebb688
          role: user
          text: "## エラー情報 \n### エラー件数\n{{#1780371392037.error_count#}}件 \n\n### エラー内容\n\
            {{#1780442733681.combined_error_md#}}\n\n## 命令\n以下の2つを順番に回答してください。\n\n\
            ### 1. 既存エラーの修正方法\n「check_rules_forest_survey.csv」を元に特定した上記のエラーについて、経験のない人でも理解できるよう\n\
            具体的な修正方法を指示してください。\n\n### 2. その他気になる点\n上記エラー以外に、数値の矛盾や入力ミスと思われる点があれば指摘してください。なければ「なし」と出力してください。\n\
            \n### 制約\n- 専門用語は使わないようにしてください。\n- 修正後の数値や選択肢そのものの提案はしないでください。\n- 修正を行う理由についても、説明してください。"
        selected: false
        title: '5-3-1.LLM(エラー内容・エラー候補に対するSlack投稿文作成) '
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1780411223891'
      position:
        x: 1583.5767490625608
        y: 34.80588558841288
      positionAbsolute:
        x: 1583.5767490625608
        y: 34.80588558841288
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1780096256163'
            - survey_file
            id: key-value-163
            key: survey_file
            type: file
            value: ''
          type: form-data
        desc: error_logを、UTF-8 BOM付きCSVにする。
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 60
          write: 60
        title: 5-3-2.HTTPリクエスト(export_error_log)
        type: http-request
        url: https://forest-survey-api.onrender.com/export_error_log
        variables: []
      height: 165
      id: '1780489017890'
      position:
        x: 2399.9046682791795
        y: -205.67726345540487
      positionAbsolute:
        x: 2399.9046682791795
        y: -205.67726345540487
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - file:
            - '1780096256163'
            - survey_file
            id: key-value-329
            key: survey_file
            type: file
            value: ''
          type: form-data
        desc: gis_csvを、UTF-8 BOM付きCSVにする。
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 6-1.HTTP リクエスト(export_gis_csv)
        type: http-request
        url: https://forest-survey-api.onrender.com/export_gis_csv
        variables: []
      height: 165
      id: '1780489102239'
      position:
        x: 2451.2514254118055
        y: 623.6067676296807
      positionAbsolute:
        x: 2451.2514254118055
        y: 623.6067676296807
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 新規のエラー候補を出力します。
        model:
          completion_params: {}
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 08eddf29-063d-400a-bc64-4ed20d818666
          role: system
          text: '## 処理内容

            既存のエラー判別のファイル(check_rules_forest_survey.csv)にないエラーの候補を抽出する。


            ### 目的

            check_rules_forest_survey.csvにないエラー候補を見つけられるようにする。


            ### 役割

            森林調査の熟練技術者


            ### 依頼者

            - 森林調査の経験が全くない人

            - 専門学校や大学等で、林学を専攻していない人

            - 現地調査結果入力の作業をただ頼まれ、入力用のファイルの計算式やマクロ等の構造を知らない人


            ### 命令

            調査データを注意深く読み、数値の矛盾や入力ミスの可能性があるものを「追加エラー候補」として出力してください。

            '
        - id: a319ae93-b680-4a19-94df-1f4205bb8765
          role: user
          text: "## 調査データ\n{{#1780371392037.survey_text_for_llm#}}\n\n## すでに検出されたエラー\n\
            {{#1780371392037.error_log_md#}}\n\n## 命令\n「check_rules_forest_survey.csv」から特定した上記のエラー以外に、エラーと思われる箇所があれば、\n\
            以下のJSON配列形式で出力してください。\nなければ [] を出力してください。\n\n[\n  {\n    \"sheet_name\"\
            : \"シート名\",\n    \"row_no\": \"行番号または基本情報\",\n    \"rule_id\": \"R_LLM_001\"\
            ,\n    \"category\": \"毎木または基本情報\",\n    \"check_item\": \"チェック内容の説明\"\
            ,\n    \"target_column\": \"エラーのある項目名\",\n    \"condition\": \"エラーと判断する条件\"\
            ,\n    \"severity\": \"warning\",\n    \"message\": \"エラーの説明\",\n    \"\
            fix_action\": \"修正方法\"\n    \"note\": \"\"\n  }\n]"
        selected: false
        structured_output_enabled: true
        title: 5-1.LLM(追加エラー候補出力)
        type: llm
        vision:
          enabled: false
      height: 116
      id: '1780442563959'
      position:
        x: 911.4798152636865
        y: -257.27660877729056
      positionAbsolute:
        x: 911.4798152636865
        y: -257.27660877729056
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(existing_error_md: str, llm_error_json: str)\
          \ -> dict:\n    \n    # LLMが出力したJSONを読み込む（失敗したら空リストにする）\n    try:\n    \
          \    llm_errors = json.loads(llm_error_json.strip())\n    except Exception:\n\
          \        llm_errors = []\n\n    # LLMエラーをMarkdown表に変換する\n    llm_error_md\
          \ = \"\"\n    if llm_errors:\n        headers = [\n            \"sheet_name\"\
          , \"row_no\", \"rule_id\", \"category\",\n            \"item_name\", \"\
          check_item\", \"severity\",\n            \"error_message\", \"fix_action\"\
          \n        ]\n        llm_error_md = \"| \" + \" | \".join(headers) + \"\
          \ |\\n\"\n        llm_error_md += \"| \" + \" | \".join([\"---\"] * len(headers))\
          \ + \" |\\n\"\n        for row in llm_errors:\n            values = [str(row.get(h,\
          \ \"\")) for h in headers]\n            llm_error_md += \"| \" + \" | \"\
          .join(values) + \" |\\n\"\n\n    # 既存エラーとLLMエラーを結合する\n    combined_error_md\
          \ = existing_error_md\n    if llm_error_md:\n        combined_error_md +=\
          \ \"\\n\\n### LLMが検出した追加エラー\\n\" + llm_error_md\n\n    return {\n      \
          \  \"combined_error_md\": combined_error_md,\n        \"llm_error_json\"\
          : json.dumps(llm_errors, ensure_ascii=False)\n    }"
        code_language: python3
        desc: 既存のエラーと、抽出したエラー候補を結合します。
        outputs:
          combined_error_md:
            children: null
            type: string
          llm_error_json:
            children: null
            type: string
        selected: false
        title: 5-2.コード実行(既存エラー+追加エラー候補結合)
        type: code
        variables:
        - value_selector:
          - '1780371392037'
          - error_log_md
          value_type: string
          variable: existing_error_md
        - value_selector:
          - '1780442563959'
          - text
          value_type: string
          variable: llm_error_json
      height: 96
      id: '1780442733681'
      position:
        x: 1327.1176618036156
        y: -257.27660877729056
      positionAbsolute:
        x: 1327.1176618036156
        y: -257.27660877729056
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-334
            key: ''
            type: text
            value: '{{#1780442733681.llm_error_json#}}'
          type: json
        desc: RenderによるFastAPI呼び出しを行い、main_v2.pyの「add_rules」処理を実行します。
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 60
          write: 60
        title: 5-3-1.HTTPリクエスト(add_rules)
        type: http-request
        url: https://forest-survey-api.onrender.com/add_rules
        variables: []
      height: 197
      id: '1780442810188'
      position:
        x: 2021.996759965839
        y: -192.77251822144513
      positionAbsolute:
        x: 2021.996759965839
        y: -192.77251822144513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-43
            key: ''
            type: text
            value: '{"text": "{{#1780411223891.text#}}"}'
          type: json
        desc: エラー修正指示・確認についての文章をSlackに投稿する。
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 60
          write: 60
        title: 5-3-2.HTTP リクエスト(Slack投稿)
        type: http-request
        url: https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_URL
        variables: []
      height: 197
      id: '1780457989767'
      position:
        x: 2281.409470871058
        y: 193.0448045024856
      positionAbsolute:
        x: 2281.409470871058
        y: 193.0448045024856
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -671.9848800816044
      y: 91.37546830974225
      zoom: 0.523647061410313
  rag_pipeline_variables: []
