01_survey_tool/調査データチェック・GIS変換アシスタント.yml
app:
  description: 測量データ入力・整理の効率化のために、入力データのエラーの自動抽出、GISデータへの自動変換を行うためのアプリです。
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 調査データチェック・GIS変換アシスタント
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779495475123-source-1779700834039-target
      selected: false
      source: '1779495475123'
      sourceHandle: source
      target: '1779700834039'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779700834039-source-1779705328985-target
      selected: false
      source: '1779700834039'
      sourceHandle: source
      target: '1779705328985'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1779703485518-true-1779713949796-target
      selected: false
      source: '1779703485518'
      sourceHandle: 'true'
      target: '1779713949796'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1779703485518-false-1779714397729-target
      selected: false
      source: '1779703485518'
      sourceHandle: 'false'
      target: '1779714397729'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779705328985-source-1779703485518-target
      source: '1779705328985'
      sourceHandle: source
      target: '1779703485518'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables: []
      height: 73
      id: '1779495475123'
      position:
        x: 47.87971322228134
        y: 203.90955265606254
      positionAbsolute:
        x: 47.87971322228134
        y: 203.90955265606254
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-594
            key: ''
            type: text
            value: '{}'
          type: json
        headers: 'Content-Type:application/json

          Accept:application/json

          ngrok-skip-browser-warning:true'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP リクエスト
        type: http-request
        url: https://props-scorebook-tray.ngrok-free.dev/check
        variables: []
      height: 137
      id: '1779700834039'
      position:
        x: 274.5882145056843
        y: 380.8472254291886
      positionAbsolute:
        x: 274.5882145056843
        y: 380.8472254291886
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: fab7cd90-ef4c-455a-85aa-05d91dd1cc6e
            value: error
            varType: string
            variable_selector:
            - '1779705328985'
            - status
          id: 'true'
          logical_operator: or
        selected: false
        title: IF/ELSE
        type: if-else
      height: 124
      id: '1779703485518'
      position:
        x: 888.210527572679
        y: 280.92194857667215
      positionAbsolute:
        x: 888.210527572679
        y: 280.92194857667215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body) -> dict:\n    if isinstance(body, str):\n\
          \        data = json.loads(body)\n    else:\n        data = body\n\n   \
          \ error_count = int(data.get(\"error_count\", 0))\n\n    return {\n    \
          \    \"status\": data.get(\"status\", \"\"),\n        \"error_count\": error_count,\n\
          \        \"message\": data.get(\"message\", \"\"),\n        \"error_log_path\"\
          : data.get(\"error_log_path\", \"\"),\n        \"gis_csv_path\": data.get(\"\
          gis_csv_path\", \"\"),\n    }"
        code_language: python3
        outputs:
          error_count:
            children: null
            type: number
          error_log_path:
            children: null
            type: string
          gis_csv_path:
            children: null
            type: string
          message:
            children: null
            type: string
          status:
            children: null
            type: string
        selected: false
        title: コード実行
        type: code
        variables:
        - value_selector:
          - '1779700834039'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1779705328985'
      position:
        x: 436.79168886855837
        y: 175.49832473312867
      positionAbsolute:
        x: 436.79168886855837
        y: 175.49832473312867
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1779705328985'
          - status
          value_type: string
          variable: status
        - value_selector:
          - '1779705328985'
          - error_count
          value_type: number
          variable: error_count
        - value_selector:
          - '1779705328985'
          - message
          value_type: string
          variable: message
        - value_selector:
          - '1779705328985'
          - error_log_path
          value_type: string
          variable: error_log_path
        - value_selector:
          - '1779705328985'
          - gis_csv_path
          value_type: string
          variable: gis_csv_path
        selected: false
        title: 出力
        type: end
      height: 193
      id: '1779713949796'
      position:
        x: 1299.327440602248
        y: 91.47388299014963
      positionAbsolute:
        x: 1299.327440602248
        y: 91.47388299014963
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1779705328985'
          - status
          value_type: string
          variable: status
        - value_selector:
          - '1779705328985'
          - error_count
          value_type: number
          variable: error_count
        - value_selector:
          - '1779705328985'
          - message
          value_type: string
          variable: message
        - value_selector:
          - '1779705328985'
          - error_log_path
          value_type: string
          variable: error_log_path
        - value_selector:
          - '1779705328985'
          - gis_csv_path
          value_type: string
          variable: gis_csv_path
        selected: false
        title: 出力 2
        type: end
      height: 193
      id: '1779714397729'
      position:
        x: 1450.5148655957748
        y: 434.9157608223005
      positionAbsolute:
        x: 1450.5148655957748
        y: 434.9157608223005
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 218.1160304165728
      y: 148.6370491218529
      zoom: 0.6443978924960161
  rag_pipeline_variables: []
